#editor {
  position: relative;
}
#editor-content {
  /* position: absolute; */
  top: 0em;
  left: 0em;
  right: 1em;
  bottom: 1em;
  /* opacity: 0.6; */
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  width: calc(100% - 2em);
  height: calc(100% - 2em);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[data-reach-tooltip] {
  pointer-events: none;
  position: absolute;
  padding: 0.25em;
  box-shadow: 2px 2px 10px hsla(0, 0%, 0%, 0.1);
  white-space: nowrap;
  font-size: 85%;
  background: #f0f0f0;
  color: #444;
  border: solid 1px #ccc;
}

form label {
  display: block;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
    sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  transition: all 300ms ease;
}

a {
  text-decoration: none;
  color: #108db8;
  font-weight: bold;
}

img {
  max-width: 100%;
}

nav {
  width: 100%;
  background: #108db8;
}

nav a {
  color: white;
  padding: 1rem;
  display: inline-block;
}

.content {
  padding: 1rem;
}
